html,
body {
   margin: 0;
   padding: 10px;
}

body {
  background-image: url(cool-background.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
}

* {
    box-sizing: border-box;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 10px
}

#top #title {
    background-color: antiquewhite;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

#top #rule {
  background-color: antiquewhite;
  border: 2px solid #333;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#bottom {
  display: flex;
  justify-content: center;
}

#bottom #whosGo {
  display: none;
  width: fit-content;
  margin-top: 70px;
  background-color: antiquewhite;
  border: 2px solid #333;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
    
}

#bottom #scores {
  display: none;
}


#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#newGame {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#squares {
    display: none;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.square {
    width: 100px;
    height: 100px;
    font-size: 3em;
    border-radius: 5px;
    background-color: antiquewhite;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1) rotate(0deg); /* Normal size and no rotation */
  }
  25% {
    transform: scale(1.1) rotate(-5deg); /* Slightly increased size and counter-clockwise rotation */
  }
  75% {
    transform: scale(1.1) rotate(5deg); /* Slightly increased size and clockwise rotation */
  }
}

#newGame #startGame {
    width: fit-content;
    height: 130px;
    padding: 15px;
    font: bold 3em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: antiquewhite;
    cursor: pointer;
    animation: bounce 1s infinite;
}

#newGame #startGame:hover {
  background-color: rgb(255, 245, 234);
}

#popUp {
    display: none;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
  }

  #popUp #topSection {
    display: flex;
    justify-content: center;
  }

  #popUp #bottomSection {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    gap: 5px;
  }

  #dimBg {
    width: 100vw;
    height: 100vh;
    opacity: 30%;
    background-color: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #popUp #stage1 {
    margin: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #popUp #stage1 input {
    margin-bottom: 15px;
    display: block;
  }
  #popUp #stage2 {
    display: none;
  }

  #popUp #stage3 {
    display: none;
  }

  #popUp #stage4 {
    display: none;
  }

  input[type=submit] {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
  }
  
  input[type=submit]:hover,
  input[type=submit]:focus {
    outline: none;
    background: #000;
    color: #fff;
  }
  