html,
body {
   margin: 0;
   padding: 10px;
}

body {
  background-image: url(cool-background.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
}

* {
    box-sizing: border-box;
}



#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 10px
}

#top #title,
#top #rule {
    background-color: antiquewhite;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

#top #rule {
  font-size: 2em;
}



#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#newGame {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#squares {
    display: none;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.square {
    width: 100px;
    height: 100px;
    font-size: 3em;
    border-radius: 5px;
    background-color: antiquewhite;
}

@keyframes bounce {
    0%, 100% {
    transform: scale(1) rotate(0deg); /* Normal size and no rotation */
  }
    25% {
    transform: scale(1.1) rotate(-5deg); /* Slightly increased size and counter-clockwise rotation */
  }
    75% {
    transform: scale(1.1) rotate(5deg); /* Slightly increased size and clockwise rotation */
  }
}

  #newGame #startGame {
    width: fit-content;
    height: 130px;
    padding: 15px;
    font: bold 3em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: antiquewhite;
    cursor: pointer;
    animation: bounce 1s infinite;
}

  #newGame #startGame:hover {
    background-color: rgb(255, 245, 234);
  }

  #popUp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
  }

  #popUp #topSection,
  #popUp #bottomSection {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 5px;
  }

  #dimBg {
    width: 100vw;
    height: 100vh;
    opacity: 30%;
    background-color: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #popUp #stage1 {
    margin: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #popUp #stage1 div {
    margin: 5px;
  }

  #popUp #stage1 form div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    }

  input[type=text] {
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: white;
    cursor:auto;
  }

.error-message {
    display: none;
    font-size: .8em;
    font-style: italic;
  }

  #popUp #stage1 form div input[type=text]:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
  }

  #popUp #stage1 form div input[type=text]:not(:focus):not(:placeholder-shown):invalid + .error-message {
    display: block;
  }

  #popUp #stage1 form div input[type=text]:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
  }

  #popUp #stage1 form input[type=submit] {
    padding: 5px;
    margin-top: 15px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
    margin-left: 10px;
  }
  
  #popUp #stage1 form input[type=submit]:hover,
  #popUp #stage1 form input[type=submit]:focus {
    outline: none;
    background: #000;
    color: #fff;
  }
  

  #popUp #stage2 {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 37%;
  }
  
  #popUp #stage2 #title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  #popUp #stage2 #bottomSection #x,
  #popUp #stage2 #bottomSection #o {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
  }


  #popUp #stage3 {
    display: none;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
  }

  #popUp #stage3 #topSection #roundWinner {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  #popUp #stage3 button {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
  }
  #popUp #stage3 button:hover,
  #popUp #stage3 button:focus {
    outline: none;
    background: #000;
    color: #fff;
  }


  #popUp #stage4 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
  }

  #popUp #stage4 #topSection #winner {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  #popUp #stage4 button {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
  }
  #popUp #stage4 button:hover,
  #popUp #stage4 button:focus {
    outline: none;
    background: #000;
    color: #fff;
  }



  #bottom {
    display: none;
    align-items: center;
    flex-direction: column;
  }
  
  #bottom #whosGo {
    display: flex;
    width: fit-content;
    margin-top: 70px;
    background-color: antiquewhite;
    border: 2px solid #333;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
      
  }
  
  #bottom #scores {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 30px;
    margin-top: 70px;
    background-color: antiquewhite;
    border: 2px solid #333;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #bottom #scores #title {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px;
  }
  
  #bottom #scores #playerScores {
    width: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  #bottom #scores .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #bottom #scores .player .pNames {
    font-weight: bolder;
  }
  


  